@font-face {
  font-family: "roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}
@font-face {
  font-family: "LoewNext";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/LoewNext/LoewNext-Regular.eot");
  src: url("../fonts/LoewNext/LoewNext-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LoewNext/LoewNext-Regular.woff") format("woff"), url("../fonts/LoewNext/LoewNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LoewNext";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/LoewNext/LoewNext-Bold.eot");
  src: url("../fonts/LoewNext/LoewNext-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/LoewNext/LoewNext-Bold.woff") format("woff"), url("../fonts/LoewNext/LoewNext-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "LoewNext";
  font-weight: light;
  font-style: normal;
  src: url("../fonts/LoewNext/LoewNext-Light.eot");
  src: url("../fonts/LoewNext/LoewNext-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/LoewNext/LoewNext-Light.woff") format("woff"), url("../fonts/LoewNext/LoewNext-Light.ttf") format("truetype");
}
@font-face {
  font-family: "LoewNext";
  font-weight: medium;
  font-style: normal;
  src: url("../fonts/LoewNext/LoewNext-Medium.eot");
  src: url("../fonts/LoewNext/LoewNext-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/LoewNext/LoewNext-Medium.woff") format("woff"), url("../fonts/LoewNext/LoewNext-Medium.ttf") format("truetype");
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role=button] {
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs, td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm, td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md, td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg, td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print, td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: roboto, sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

::-moz-selection {
  background-color: #253159;
  color: #fff;
}

::selection {
  background-color: #253159;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: LoewNext;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn {
  display: block;
  text-align: center;
  border-radius: 15em;
  padding: 15px;
  text-transform: uppercase;
  font-family: LoewNext;
  font-weight: bold;
}
.btn:active, .btn:focus, .btn:visited {
  color: #fff;
  text-decoration: none;
}
.btn-full {
  background-color: #DFA958;
  color: #fff;
  transition: all 0.4s ease-in-out;
  background-size: 300% 400%;
  background-image: linear-gradient(to right, #BC7822, #3B14BA, #1E68D3, #43766a);
}
.btn-full:hover {
  background-position: 100% 0;
  color: #fff;
  text-decoration: none;
}
.btn-full-w {
  background-color: #fff;
  color: #000;
}
.btn-close span {
  background-color: rgba(0, 0, 0, 0) !important;
}
.btn-close span::before {
  transform: rotate(45deg);
  transition-property: margin, transform;
  margin-top: 0 !important;
}
.btn-close span::after {
  transform: rotate(-45deg);
  transition-property: margin, transform;
  margin-top: 0 !important;
}
.btn.arr {
  position: relative;
}
.btn.arr::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/leftArrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}

.row-eq-heigh {
  display: flex;
}

.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  background-color: #FFFCEB;
  display: none;
}
.mobile-container .top-wrap {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
.mobile-container #mmWrap {
  background-color: #253159;
}
.mobile-container #mmWrap ul {
  padding: 25px;
}
.mobile-container #mmWrap ul a {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
}
.mobile-container .reg-wrap {
  margin: 15px 0;
  padding: 15px;
}

.mmenu-wrap {
  display: none;
  color: #253159;
}
.mmenu-wrap .mmenu {
  position: relative;
  display: flex;
  align-items: center;
}
.mmenu-wrap .mmenu::before {
  content: "MENU";
  position: relative;
  right: 15px;
  padding: 15px;
  font-weight: bold;
}
.mmenu-wrap .mmenu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #DFA958;
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;
}
.mmenu-wrap .mmenu span {
  margin: 0 auto;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #004156;
  display: block;
  border-radius: 15em;
  z-index: 5;
  right: 10px;
}
.mmenu-wrap .mmenu span:before, .mmenu-wrap .mmenu span:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #004156;
  display: block;
  border-radius: 15em;
}
.mmenu-wrap .mmenu span:before {
  margin-top: -8px;
}
.mmenu-wrap .mmenu span:after {
  margin-top: 8px;
}
.mmenu-wrap .mmenu-anim span {
  transition-duration: 0s;
  transition-delay: 0.2s;
}
.mmenu-wrap .mmenu-anim:hover span {
  background-color: rgba(0, 0, 0, 0);
  transition-delay: 0.2s;
}
.mmenu-wrap .mmenu-anim span:before {
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0s;
}
.mmenu-wrap .mmenu-anim:hover span:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0s, 0.2s;
}
.mmenu-wrap .mmenu-anim span:after {
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0s;
}
.mmenu-wrap .mmenu-anim:hover span:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.2s;
}
.mmenu-wrap .mmenu-anim .sec-1 .timer-wrap .block-wrap .block .num {
  font-size: 62px;
}
.mmenu-wrap .mmenu-anim .sec-2 {
  padding-bottom: 500px;
}
.mmenu-wrap .mmenu-anim .sec-2::after {
  width: 100%;
  top: auto;
  max-height: 500px;
}
.mmenu-wrap .mmenu-anim .sec-2 .text-wrap {
  width: 100%;
}
.mmenu-wrap .mmenu-anim .sec-3 .block-wrap {
  flex-wrap: wrap;
}
.mmenu-wrap .mmenu-anim .sec-3 .block-wrap .block {
  width: calc(50% - 10px);
}
.mmenu-wrap .mmenu-anim .sec-4 {
  padding-top: 500px;
}
.mmenu-wrap .mmenu-anim .sec-4::after {
  width: 100%;
  top: 0;
  max-height: 500px;
}
.mmenu-wrap .mmenu-anim .sec-4 .content-wrap {
  padding-left: 0;
}
.mmenu-wrap .mmenu-anim .sec-7 .block-wrap .block {
  width: 50%;
}
.mmenu-wrap .mmenu-anim .sec-7 .block-wrap .block.last {
  width: 100%;
}
.mmenu-wrap .mmenu-anim .sec-9 .block-wrap .block {
  width: 50%;
}
.mmenu-wrap .mmenu-anim .sec-10 .tab-content #tab1::before {
  display: none;
}
.mmenu-wrap .mmenu-anim .sec-10 .tab-content .content .form, .mmenu-wrap .mmenu-anim .sec-10 .tab-content .content form {
  width: 100%;
}
.mmenu-wrap .mmenu-anim .sec-10 .tab-content .content .form .input, .mmenu-wrap .mmenu-anim .sec-10 .tab-content .content form .input {
  width: 100%;
}
.mmenu-wrap .mmenu-anim .footer .footer-wrap {
  flex-wrap: wrap;
}

.header .header-top {
  padding: 15px 0;
  background-color: #FFFCEB;
  /* example 5 */
}
.header .header-top .logo-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .header-top .logo-wrap img {
  width: 100%;
}
.header .header-top .menu-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .header-top .menu-wrap ul li {
  display: inline-block;
}
.header .header-top .menu-wrap ul li a {
  display: block;
  padding: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: #253159;
}
.header .header-top .menu-wrap ul li a:hover {
  text-decoration: none;
  color: #DFA958;
}
.header .header-top .right-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .header-top .right-wrap .btn {
  padding: 15px 35px;
}

.header-banner {
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  position: relative;
}
.header-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  left: 0;
  background: rgb(37, 49, 89);
  background: linear-gradient(180deg, rgba(37, 49, 89, 0) 0%, rgb(37, 49, 89) 100%);
  z-index: 5;
}
.header-banner .block-wrap {
  height: 650px;
}
.header-banner .block-wrap .block {
  position: absolute;
  z-index: 15;
}
.header-banner .block-wrap .left-wrap {
  top: 30%;
  color: #fff;
  width: 60%;
}
.header-banner .block-wrap .left-wrap .title, .header-banner .block-wrap .left-wrap .s-title {
  margin: 0;
  padding: 0;
  font-size: 54px;
  line-height: 1.2em;
}
.header-banner .block-wrap .left-wrap .title {
  text-transform: uppercase;
}
.header-banner .block-wrap .left-wrap .btn {
  margin-top: 25px;
  display: inline-block;
  padding: 15px 25px;
}
.header-banner .block-wrap .right-wrap {
  left: 60%;
  top: 60%;
}
.header-banner .block-wrap .bg-girl {
  position: absolute;
  z-index: 5;
  left: 50%;
  bottom: 0;
}
.header-banner .block-wrap .bg-girl img {
  width: 100%;
}

.section {
  padding: 55px 0;
}
.section.color {
  background-color: #253159;
  color: #fff;
}
.section.color .title {
  color: #fff;
}
.section.color-2 {
  background-color: #DFA958;
  color: #253159;
}
.section.color-2 .title {
  color: #253159;
}
.section.color-3 {
  background-image: url("../img/sec_bg.png");
  background-size: contain;
}
.section.color-3 .title {
  color: #253159;
}
.section .title {
  font-size: 54px;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 1.2em;
  font-weight: bold;
}

.sec-1 .left-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-1 .left-wrap .title {
  color: #DFA958;
}
.sec-1 .timer-wrap .block-wrap {
  display: flex;
}
.sec-1 .timer-wrap .block-wrap .block {
  padding-right: 25px;
  color: #DFA958;
}
.sec-1 .timer-wrap .block-wrap .block:last-child {
  padding-right: 0;
}
.sec-1 .timer-wrap .block-wrap .block .num {
  font-size: 74px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
}
.sec-1 .about-wrap {
  font-size: 16px;
}
.sec-1 .about-wrap .block-wrap .block {
  font-size: 20px;
}
.sec-1 .about-wrap .block-wrap .block span {
  color: #DFA958;
  font-size: 16px;
}
.sec-1 .about-wrap .block-wrap .block p {
  margin-top: 0;
}

.sec-2 {
  position: relative;
}
.sec-2::after {
  content: "";
  background-image: url("../img/bg_1.png");
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
}
.sec-2 .title {
  font-size: 40px;
}
.sec-2 .content-wrap {
  padding: 75px 0;
}
.sec-2 .text-wrap {
  width: 70%;
  line-height: 1.2em;
}

.sec-3 .block-wrap {
  display: flex;
  flex-wrap: wrap;
}
.sec-3 .block-wrap .block {
  font-size: 14px;
  color: #253159;
  width: calc(25% - 10px);
  margin-right: 10px;
}
.sec-3 .block-wrap .block:hover .img-wrap img {
  transform: scale(1.1);
}
.sec-3 .block-wrap .block:nth-child(odd) .img-wrap {
  background: #5c5a59;
  background: radial-gradient(circle, rgb(92, 90, 89) 0%, rgb(38, 38, 38) 100%);
}
.sec-3 .block-wrap .block .img-wrap {
  display: flex;
  background: #b88b48;
  background: radial-gradient(circle, rgb(184, 139, 72) 0%, rgb(223, 169, 88) 100%);
  border-radius: 20px;
  height: 250px;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
.sec-3 .block-wrap .block .img-wrap img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.sec-3 .block-wrap .block .b-title {
  font-size: 24px;
  color: #253159;
  margin: 15px 0;
  line-height: 1.2em;
}
.sec-3 .block-wrap .block .brand {
  color: #DFA958;
  text-transform: uppercase;
}
.sec-3 .block-wrap .block.soon .img-wrap {
  background: transparent;
  border: 3px solid #DFA958;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: #DFA958;
}

.icon {
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 15;
}
.icon-kz {
  background-image: url("../img/flags/kazakhstan.png");
}
.icon-ru {
  background-image: url("../img/flags/russia.png");
}
.icon-ua {
  background-image: url("../img/flags/ukraine.png");
}
.icon-sk {
  background-image: url("../img/flags/south-korea.png");
}
.icon-tr {
  background-image: url("../img/flags/turkey.png");
}
.icon-co {
  background-image: url("../img/flags/croatia.png");
}

.sec-4 {
  position: relative;
}
.sec-4::after {
  content: "";
  background-image: url("../img/bg_2.png");
  background-size: cover;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
.sec-4 .content-wrap {
  padding: 55px 0 55px 75px;
}
.sec-4 .content-wrap .logo-wrap {
  width: 80%;
}
.sec-4 .content-wrap .logo-wrap img {
  width: 100%;
}
.sec-4 .title {
  color: #fff;
  margin: 25px 0;
}
.sec-4 .btn {
  margin: 25px 0;
  padding: 15px 55px;
  display: inline-block;
}

.sec-5 .title {
  margin-bottom: 15px;
}
.sec-5 .btn {
  display: inline-block;
  padding: 15px 25px;
}
.sec-5 .content-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
.sec-5 .block-wrap {
  margin-top: 55px;
}
.sec-5 .block-wrap .block.soon {
  min-height: 150px;
  border-radius: 20px;
  border: 3px solid #DFA958;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #DFA958;
}

.sec-6 .block-wrap .block {
  min-height: 220px;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 15px 15px 0;
}
.sec-6 .block-wrap .block img {
  width: auto;
  height: 100%;
}

.sec-7 .block-wrap {
  display: flex;
  flex-wrap: wrap;
}
.sec-7 .block-wrap .block {
  width: 25%;
  padding: 15px;
  font-size: 14px;
  line-height: 1.2em;
}
.sec-7 .block-wrap .block .icon-i {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #DFA958;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-7 .block-wrap .block .b-title {
  font-weight: bold;
  font-size: 20px;
  color: #253159;
  margin: 15px 0;
  line-height: 1.2em;
}
.sec-7 .block-wrap .block.last {
  width: 50%;
  background-image: url("../img/bg_1.png");
  background-size: cover;
  color: #fff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.sec-7 .block-wrap .block.last .content-wrap {
  position: relative;
  display: block;
  z-index: 5;
}
.sec-7 .block-wrap .block.last .content-wrap .btn {
  display: inline-block;
  padding: 15px 25px;
}
.sec-7 .block-wrap .block.last::after {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sec-8 .block-wrap .block {
  position: relative;
  padding: 25px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}
.sec-8 .block-wrap .block::after {
  content: "";
  position: absolute;
  opacity: 0.75;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.sec-8 .block-wrap .block .content-wrap, .sec-8 .block-wrap .block .title, .sec-8 .block-wrap .block .btn {
  display: block;
  position: relative;
  z-index: 5;
}
.sec-8 .block-wrap .block .btn {
  display: inline-block;
  padding: 15px 45px;
}
.sec-8 .block-wrap .block .btn.arr::before {
  right: 15px;
  top: 17px;
}
.sec-8 .block-wrap .block .btn:hover {
  text-decoration: none;
  background-color: #DFA958;
  color: #fff;
}
.sec-8 .block-wrap .block.color-1 {
  background-color: #DFA958;
  background-image: url("../img/bg_2.png");
  background-size: cover;
  color: #fff;
}
.sec-8 .block-wrap .block.color-1::after {
  background-color: #DFA958;
}
.sec-8 .block-wrap .block.color-2 {
  background-color: #253159;
  background-image: url("../img/bg_2.png");
  background-size: cover;
  color: #fff;
}
.sec-8 .block-wrap .block.color-2::after {
  background-color: #253159;
  opacity: 0.85;
}
.sec-8 .block-wrap .block .title {
  color: #fff;
}
.sec-8 .block-wrap .block .img-wrap {
  background-color: #D9D9D9;
  border-radius: 20px;
  overflow: hidden;
  width: 280px;
}
.sec-8 .block-wrap .block .img-wrap img {
  width: 100%;
}
.sec-8 .block-wrap .block .content-wrap h6 {
  font-size: 24px;
  margin: 0;
}
.sec-8 .block-wrap .block .content-wrap p {
  margin-bottom: 0;
}
.sec-8 .block-wrap .items-wrap {
  display: flex;
  margin-bottom: 25px;
}
.sec-8 .block-wrap .items-wrap .item {
  width: 50%;
}
.sec-8 .block-wrap .items-wrap .item .num {
  font-size: 20px;
  font-weight: bold;
}
.sec-8 ul {
  margin-bottom: 25px;
}
.sec-8 ul li {
  position: relative;
  padding-left: 15px;
  font-size: 14px;
}
.sec-8 ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}

.sec-9 .title {
  color: #DFA958;
}
.sec-9 .block-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}
.sec-9 .block-wrap .block {
  width: 25%;
  text-align: center;
  margin-bottom: 35px;
}
.sec-9 .block-wrap .block img {
  width: auto;
  max-height: 130px;
  max-width: 220px;
}

.sec-10 .block-wrap {
  background-color: #DFA958;
  background-image: url("../img/bg_1.png");
  background-size: cover;
  color: #fff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 25px;
}
.sec-10 .block-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C27C1C;
  opacity: 0.8;
  z-index: 0;
}
.sec-10 .block-wrap .content-wrap {
  z-index: 10;
  position: relative;
  display: block;
}
.sec-10 .title {
  margin-bottom: 25px;
}
.sec-10 .tabs-wrap .tab-nav {
  display: flex;
  padding: 15px 0;
}
.sec-10 .tabs-wrap .tab-nav div {
  display: block;
  border: 1px solid #fff;
  border-radius: 15em;
  padding: 5px 15px;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  font-family: LoewNext;
  font-weight: bold;
}
.sec-10 .tabs-wrap .tab-nav div:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}
.sec-10 .tabs-wrap .tab-nav div.active {
  background-color: #fff;
  color: #000;
}
.sec-10 .tab-content .content {
  display: none;
}
.sec-10 .tab-content .content.active {
  display: block;
}
.sec-10 .tab-content .content form, .sec-10 .tab-content .content .form {
  padding: 25px 0;
  width: 70%;
}
.sec-10 .tab-content .content .right-wrap {
  width: 25%;
  float: left;
}
.sec-10 .tab-content .content .right-wrap .content-wrap {
  font-size: 14px;
}
.sec-10 .tab-content .content .right-wrap .content-wrap .img-wrap {
  background-color: #ccc;
  border-radius: 20px;
  overflow: hidden;
  height: 220px;
}
.sec-10 .tab-content .content .right-wrap .content-wrap .img-wrap img {
  width: 100%;
}
.sec-10 .tab-content .content .right-wrap .content-wrap h6 {
  font-size: 24px;
  margin: 0;
}
.sec-10 .tab-content .content .right-wrap .content-wrap .date {
  font-size: 20px;
}
.sec-10 .tab-content #tab1 {
  position: relative;
}
.sec-10 .tab-content #tab1::before {
  content: "";
  position: absolute;
  bottom: -25px;
  right: -25px;
  background-image: url("../img/girl.png");
  background-repeat: no-repeat;
  background-size: 130%;
  width: 460px;
  height: 435px;
  z-index: 10;
}
.sec-10 .tab-content #tab2 form, .sec-10 .tab-content #tab2 .form, .sec-10 .tab-content #tab3 form, .sec-10 .tab-content #tab3 .form {
  float: left;
}
.sec-10 form .input, .sec-10 .form .input {
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  margin: 0 15px 15px 0;
  border-radius: 15em;
  width: calc(50% - 30px);
}
.sec-10 form .input.w-100, .sec-10 .form .input.w-100 {
  width: calc(100% - 40px);
}
.sec-10 form .input::-moz-placeholder, .sec-10 .form .input::-moz-placeholder {
  color: #ffffff;
}
.sec-10 form .input::placeholder, .sec-10 .form .input::placeholder {
  color: #ffffff;
}
.sec-10 form .btn, .sec-10 .form .btn {
  border: none;
  margin-top: 25px;
}
.sec-10 form .country-name, .sec-10 .form .country-name {
  color: #444;
}
.sec-10 form .checkbox-wrap, .sec-10 form .wpcf7-form-control-wrap, .sec-10 .form .checkbox-wrap, .sec-10 .form .wpcf7-form-control-wrap {
  position: relative;
}
.sec-10 form .checkbox-wrap .wpcf7-list-item, .sec-10 form .wpcf7-form-control-wrap .wpcf7-list-item, .sec-10 .form .checkbox-wrap .wpcf7-list-item, .sec-10 .form .wpcf7-form-control-wrap .wpcf7-list-item {
  margin: 0;
}
.sec-10 form .checkbox-wrap .checkbox, .sec-10 form .checkbox-wrap input[type=radio], .sec-10 form .wpcf7-form-control-wrap .checkbox, .sec-10 form .wpcf7-form-control-wrap input[type=radio], .sec-10 .form .checkbox-wrap .checkbox, .sec-10 .form .checkbox-wrap input[type=radio], .sec-10 .form .wpcf7-form-control-wrap .checkbox, .sec-10 .form .wpcf7-form-control-wrap input[type=radio] {
  display: none;
}
.sec-10 form .checkbox-wrap .checkbox:checked + .label::before, .sec-10 form .checkbox-wrap .checkbox:checked + .wpcf7-list-item-label::before, .sec-10 form .checkbox-wrap input[type=radio]:checked + .label::before, .sec-10 form .checkbox-wrap input[type=radio]:checked + .wpcf7-list-item-label::before, .sec-10 form .wpcf7-form-control-wrap .checkbox:checked + .label::before, .sec-10 form .wpcf7-form-control-wrap .checkbox:checked + .wpcf7-list-item-label::before, .sec-10 form .wpcf7-form-control-wrap input[type=radio]:checked + .label::before, .sec-10 form .wpcf7-form-control-wrap input[type=radio]:checked + .wpcf7-list-item-label::before, .sec-10 .form .checkbox-wrap .checkbox:checked + .label::before, .sec-10 .form .checkbox-wrap .checkbox:checked + .wpcf7-list-item-label::before, .sec-10 .form .checkbox-wrap input[type=radio]:checked + .label::before, .sec-10 .form .checkbox-wrap input[type=radio]:checked + .wpcf7-list-item-label::before, .sec-10 .form .wpcf7-form-control-wrap .checkbox:checked + .label::before, .sec-10 .form .wpcf7-form-control-wrap .checkbox:checked + .wpcf7-list-item-label::before, .sec-10 .form .wpcf7-form-control-wrap input[type=radio]:checked + .label::before, .sec-10 .form .wpcf7-form-control-wrap input[type=radio]:checked + .wpcf7-list-item-label::before {
  background-color: #fff;
}
.sec-10 form .checkbox-wrap .checkbox:checked + .label::after, .sec-10 form .checkbox-wrap .checkbox:checked + .wpcf7-list-item-label::after, .sec-10 form .checkbox-wrap input[type=radio]:checked + .label::after, .sec-10 form .checkbox-wrap input[type=radio]:checked + .wpcf7-list-item-label::after, .sec-10 form .wpcf7-form-control-wrap .checkbox:checked + .label::after, .sec-10 form .wpcf7-form-control-wrap .checkbox:checked + .wpcf7-list-item-label::after, .sec-10 form .wpcf7-form-control-wrap input[type=radio]:checked + .label::after, .sec-10 form .wpcf7-form-control-wrap input[type=radio]:checked + .wpcf7-list-item-label::after, .sec-10 .form .checkbox-wrap .checkbox:checked + .label::after, .sec-10 .form .checkbox-wrap .checkbox:checked + .wpcf7-list-item-label::after, .sec-10 .form .checkbox-wrap input[type=radio]:checked + .label::after, .sec-10 .form .checkbox-wrap input[type=radio]:checked + .wpcf7-list-item-label::after, .sec-10 .form .wpcf7-form-control-wrap .checkbox:checked + .label::after, .sec-10 .form .wpcf7-form-control-wrap .checkbox:checked + .wpcf7-list-item-label::after, .sec-10 .form .wpcf7-form-control-wrap input[type=radio]:checked + .label::after, .sec-10 .form .wpcf7-form-control-wrap input[type=radio]:checked + .wpcf7-list-item-label::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 9px;
  background-color: #000;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
  transform: rotate(45deg);
}
.sec-10 form .checkbox-wrap .label, .sec-10 form .checkbox-wrap .wpcf7-list-item-label, .sec-10 form .wpcf7-form-control-wrap .label, .sec-10 form .wpcf7-form-control-wrap .wpcf7-list-item-label, .sec-10 .form .checkbox-wrap .label, .sec-10 .form .checkbox-wrap .wpcf7-list-item-label, .sec-10 .form .wpcf7-form-control-wrap .label, .sec-10 .form .wpcf7-form-control-wrap .wpcf7-list-item-label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.sec-10 form .checkbox-wrap .label::before, .sec-10 form .checkbox-wrap .wpcf7-list-item-label::before, .sec-10 form .wpcf7-form-control-wrap .label::before, .sec-10 form .wpcf7-form-control-wrap .wpcf7-list-item-label::before, .sec-10 .form .checkbox-wrap .label::before, .sec-10 .form .checkbox-wrap .wpcf7-list-item-label::before, .sec-10 .form .wpcf7-form-control-wrap .label::before, .sec-10 .form .wpcf7-form-control-wrap .wpcf7-list-item-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
}
.sec-10 form .radio-item, .sec-10 .form .radio-item {
  margin: 15px 0;
  display: block;
}
.sec-10 form .wpcf7-form-control-wrap, .sec-10 .form .wpcf7-form-control-wrap {
  width: calc(50% - 30px);
  display: inline-block;
  height: 60px;
  margin: 0 15px 15px 0;
}
.sec-10 form .wpcf7-form-control-wrap .input, .sec-10 .form .wpcf7-form-control-wrap .input {
  width: 100%;
}
.sec-10 form [data-name=client-gala-lunch], .sec-10 .form [data-name=client-gala-lunch] {
  width: 94%;
}

.sec-11 .title {
  color: #DFA958 !important;
}
.sec-11 .btn-wrap {
  margin-bottom: 35px;
}
.sec-11 .btn-wrap .btn {
  display: inline-block;
  padding-right: 70px;
  padding-left: 45px;
}
.sec-11 .btn-wrap .btn:before {
  right: 45px;
  top: 18px;
}
.sec-11 .block-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sec-11 .block-wrap .block {
  width: calc(25% - 15px);
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  font-size: 14px;
  color: #253159;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.sec-11 .block-wrap .block .price {
  font-size: 24px;
  font-weight: bold;
  color: #DFA958;
}
.sec-11 .block-wrap .block p {
  margin-top: 0;
}
.sec-11 .block-wrap .b-title {
  font-weight: bold;
  font-size: 24px;
  color: #253159;
  line-height: 1em;
  margin-bottom: 35px;
}
.sec-11 .block-wrap .btn {
  margin-top: 35px;
  display: block;
  width: 100%;
  font-size: 16px;
  text-transform: none;
  padding: 5px;
}
.sec-11 .block-wrap .btn span {
  display: block;
  color: #DFA958;
  font-weight: bold;
  font-size: 14px;
}

.sec-12 .block-wrap {
  background-image: url("../img/bg_1.png");
  background-size: cover;
  background-position: 0 80%;
  border-radius: 15px;
  overflow: hidden;
  padding: 45px;
  z-index: 10;
  position: relative;
  text-align: center;
}
.sec-12 .block-wrap::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: rgba(117, 8, 19, 0.862745098);
  width: 100%;
  height: 100%;
}
.sec-12 .block-wrap .title {
  color: #DFA958 !important;
}
.sec-12 .block-wrap .content-wrap {
  position: relative;
  z-index: 15;
  font-size: 16px;
}
.sec-12 .price {
  margin-bottom: 25px;
}
.sec-12 .price span {
  font-size: 24px;
}
.sec-12 .btn {
  display: inline-block;
  padding: 15px 75px;
  font-size: 20px;
  font-weight: bold;
}
.sec-12 .btn::before {
  right: 40px;
  height: 30px;
  width: 30px;
  background-size: 32px;
}

.footer {
  font-size: 16px;
  padding-bottom: 25px;
}
.footer .footer-wrap {
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.footer .logo-wrap {
  width: 250px;
  margin: 55px 0;
}
.footer .logo-wrap img {
  width: 100%;
}
.footer .b-title {
  color: #DFA958;
  text-transform: uppercase;
  margin: 0;
}
.footer a {
  color: #fff;
}
.footer .content-wrap {
  margin: 55px 0;
}
.footer .footer-bottom {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header .header-top .right-wrap .btn {
    padding: 15px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .row-eq-heigh {
    flex-wrap: wrap;
  }
  .section .title {
    font-size: 46px;
  }
  .header .header-top {
    position: fixed;
    z-index: 25;
    width: 100%;
  }
  .header .header-top .logo-wrap img {
    width: 140px;
  }
  .header .header-top .menu-wrap {
    display: none;
  }
  .header-banner {
    padding-top: 110px;
  }
  .header-banner .block-wrap .left-wrap {
    width: 100%;
    position: relative;
    top: 10%;
  }
  .header-banner .block-wrap .left-wrap .title {
    font-size: 42px;
  }
  .header-banner .block-wrap .left-wrap .s-title {
    font-size: 32px;
  }
  .header-banner .block-wrap .right-wrap {
    width: 100%;
    position: relative;
    left: auto;
    top: 45%;
    text-align: center;
  }
  .header-banner .block-wrap .right-wrap .logo-wrap {
    width: 60%;
    margin: auto;
  }
  .header-banner .block-wrap .right-wrap .logo-wrap img {
    width: 100%;
  }
  .header-banner .block-wrap .bg-girl {
    left: 0;
  }
  .mmenu-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
    justify-content: flex-end;
  }
  .mmenu-wrap .btn-mmenu {
    font-weight: bold;
    color: #253159;
    font-size: 16px;
  }
  .mmenu-wrap .icon {
    width: 50px;
    height: 50px;
    background-color: #DFA958;
    margin-left: 15px;
    border-radius: 50%;
  }
  .sec-1 .timer-wrap .block-wrap .block .num {
    font-size: 62px;
  }
  .sec-2 {
    padding-bottom: 500px;
  }
  .sec-2::after {
    width: 100%;
    top: auto;
    max-height: 500px;
  }
  .sec-2 .text-wrap {
    width: 100%;
  }
  .sec-3 .block-wrap {
    flex-wrap: wrap;
  }
  .sec-3 .block-wrap .block {
    width: calc(33% - 10px);
  }
  .sec-4 {
    padding-top: 500px;
  }
  .sec-4::after {
    width: 100%;
    top: 0;
    max-height: 500px;
  }
  .sec-4 .content-wrap {
    padding-left: 0;
  }
  .sec-7 .block-wrap .block {
    width: 50%;
  }
  .sec-7 .block-wrap .block.last {
    width: 100%;
  }
  .sec-9 .block-wrap .block {
    width: 50%;
  }
  .sec-10 .tab-content #tab1::before {
    display: none;
  }
  .sec-10 .tab-content .content .form, .sec-10 .tab-content .content form {
    width: 100%;
  }
  .sec-10 .tab-content .content .form .input, .sec-10 .tab-content .content form .input {
    width: 100%;
  }
  .sec-10 .tab-content .content .right-wrap {
    width: 100%;
  }
  .sec-10 .tab-content .content .right-wrap .content-wrap .img-wrap {
    max-width: 250px;
  }
  .sec-11 .block-wrap .block {
    width: calc(50% - 15px);
    margin-bottom: 15px;
  }
  .footer .footer-wrap {
    flex-wrap: wrap;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .section .title {
    font-size: 38px;
  }
  .header-banner .block-wrap .bg-girl img {
    width: 100%;
  }
  .header-banner .right-wrap {
    top: 60%;
  }
  .sec-1 .left-wrap {
    flex-direction: column-reverse;
  }
  .sec-3 .block-wrap .block {
    width: calc(50% - 10px);
  }
  .sec-7 .block-wrap .block {
    width: 100%;
  }
  .sec-9 .block-wrap .block {
    width: 100%;
    text-align: center;
  }
  .sec-10 .tabs-wrap .tab-nav {
    flex-wrap: wrap;
  }
  .sec-10 .tabs-wrap .tab-nav div {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer .footer-bottom {
    flex-wrap: wrap;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .section .title {
    font-size: 32px;
  }
  .header-banner {
    top: 40%;
  }
  .header-banner .block-wrap .left-wrap .title {
    font-size: 34px;
  }
  .header-banner .block-wrap .left-wrap .s-title {
    font-size: 28px;
  }
  .sec-3 .block-wrap .block {
    width: 100%;
  }
  .sec-3 .block-wrap .block .img-wrap {
    height: auto;
  }
  .sec-8 .block-wrap .items-wrap {
    flex-direction: column;
  }
  .sec-8 .block-wrap .items-wrap .item {
    width: 100%;
    margin-bottom: 15px;
  }
  .sec-8 .block-wrap .btn {
    margin-top: 25px;
  }
  .sec-11 .block-wrap {
    flex-wrap: wrap;
  }
  .sec-11 .block-wrap .block {
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}/*# sourceMappingURL=main.css.map */